<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ombarus.dicedmfree" version="2.2.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Dice DM Free</name>
    <description>
        A fast, simple, practical dice throwing app for all.
    </description>
    <author email="ombarus.dev@gmail.com" href="http://ombarusdev.com">
        Ombarus
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <icon height="180" src="res/ios/icon-180.png" width="180" />
        <icon height="60" src="res/ios/icon-60.png" width="60" />
        <icon height="120" src="res/ios/icon-120.png" width="120" />
        <icon height="76" src="res/ios/icon-76.png" width="76" />
        <icon height="152" src="res/ios/icon-152.png" width="152" />
        <icon height="40" src="res/ios/icon-40.png" width="40" />
        <icon height="80" src="res/ios/icon-80.png" width="80" />
        <icon height="57" src="res/ios/icon-57.png" width="57" />
        <icon height="114" src="res/ios/icon-114.png" width="114" />
        <icon height="72" src="res/ios/icon-72.png" width="72" />
        <icon height="152" src="res/ios/icon-152.png" width="152" />
        <icon height="167" src="res/ios/icon-167.png" width="167" />
        <icon height="87" src="res/ios/icon-87.png" width="87" />
        <icon height="58" src="res/ios/icon-58.png" width="58" />
        <icon height="50" src="res/ios/icon-50.png" width="50" />
        <icon height="100" src="res/ios/icon-100.png" width="100" />
        <icon height="167" src="res/ios/icon-167.png" width="167" />
        <splash src="res/screen/ios/Default@2x~universal~anyany.png" />
        <preference name="FadeSplashScreenDuration" value="0" />
        <preference name="SplashScreenDelay" value="0" />
    </platform>
    <platform name="android">
        <icon density="ldpi" background="res/icon/android/009-36-bg.png" foreground="res/icon/android/009-36-fg.png" />
		<icon density="mdpi" background="res/icon/android/009-48-bg.png" foreground="res/icon/android/009-48-fg.png" />
		<icon density="hdpi" background="res/icon/android/009-72-bg.png" foreground="res/icon/android/009-72-fg.png" />
		<icon density="xhdpi" background="res/icon/android/009-96-bg.png" foreground="res/icon/android/009-96-fg.png" />
		<icon density="xxhdpi" background="res/icon/android/009-144-bg.png" foreground="res/icon/android/009-144-fg.png" />
		<icon density="xxxhdpi" background="res/icon/android/009-192-bg.png" foreground="res/icon/android/009-192-fg.png" />
		
		
		<splash src="res/screen/android/ombarus-ldpi-port.png" density="ldpi"/>
		<splash src="res/screen/android/ombarus-mdpi-port.png" density="mdpi"/>
		<splash src="res/screen/android/ombarus-hdpi-port.png" density="hdpi"/>
		<splash src="res/screen/android/ombarus-xhdpi-port.png" density="xhdpi"/>
		<splash src="res/screen/android/ombarus-xxhdpi-port.png" density="xxhdpi"/>
		<splash src="res/screen/android/ombarus-xxxhdpi-port.png" density="xxxhdpi"/>
		
		<splash src="res/screen/android/ombarus-ldpi-land.png" density="land-ldpi"/>
		<splash src="res/screen/android/ombarus-mdpi-land.png" density="land-mdpi"/>
		<splash src="res/screen/android/ombarus-hdpi-land.png" density="land-hdpi"/>
		<splash src="res/screen/android/ombarus-xhdpi-land.png" density="land-xhdpi"/>
		<splash src="res/screen/android/ombarus-xxhdpi-land.png" density="land-xxhdpi"/>
		<splash src="res/screen/android/ombarus-xxxhdpi-land.png" density="land-xxxhdpi"/>

		<splash src="res/screen/android/ombarus-ldpi-port.png" density="port-ldpi"/>
		<splash src="res/screen/android/ombarus-mdpi-port.png" density="port-mdpi"/>
		<splash src="res/screen/android/ombarus-hdpi-port.png" density="port-hdpi"/>
		<splash src="res/screen/android/ombarus-xhdpi-port.png" density="port-xhdpi"/>
		<splash src="res/screen/android/ombarus-xxhdpi-port.png" density="port-xxhdpi"/>
		<splash src="res/screen/android/ombarus-xxxhdpi-port.png" density="port-xxxhdpi"/>
		
        <preference name="SplashScreenDelay" value="0" />
		<preference name="SplashMaintainAspectRatio" value="true" />
        <preference name="android-targetSdkVersion" value="28" />
        <edit-config file="AndroidManifest.xml" mode="merge" target="/manifest/uses-permission" xmlns:android="http://schemas.android.com/apk/res/android">
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
        </edit-config>
    </platform>
    <plugin name="cordova-plugin-splashscreen" spec="https://github.com/apache/cordova-plugin-splashscreen.git" />
    <plugin name="cordova-admob-sdk" spec="~0.20.0">
        <variable name="PLAY_SERVICES_VERSION" value="+" />
    </plugin>
    <plugin name="cordova-plugin-screen-orientation" spec="3.0.1" />
    <plugin name="cordova-plugin-admob-free" spec="0.27.0">
        <variable name="ADMOB_APP_ID" value="ca-app-pub-8275293921068244~7115335512" />
    </plugin>
    <plugin name="cc.fovea.cordova.purchase" spec="^8.1.1">
        <variable name="BILLING_KEY" value="MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAxHPPHJbUfn4am8fNEyrEY1Q5RGohwrjYQU8mKgAdAdoBI3huEEW9UnIs5DnIdIvCZIIM7pJEQbpHoeXeV26s08FPv7Hqh/FJ6SD2xcnjAWt4mAmeWLuLhAEdv4rT048GZJh9A3Jv0cG5lPWhrFuYjw5kxbAKiAv+xF34nsaoB4Pugc23CFHNs4kb4Wgn+lAs1/tqJAnz5426PfDZsjjRA8xXRAyGXwYMsU40uS9Z9Z7w90W4JilUE/P2A98AQbvNmTbQKkB6tJheVJz+IGT+7v5NgfNV205VRnnmY6vu6xz1SpQArwbNiBY/p70/o+2WDqVoNhbmQ61h8KGCdz7IEQIDAQAB" />
    </plugin>
</widget>
